# requirements.txt
fastapi
uvicorn[standard]
python-jose[cryptography]
passlib[bcrypt]
alembic
sqlalchemy
psycopg2-binary
pydantic
pydantic[email]
python-dotenv
python-multipart
itsdangerous
fastapi-mail